
<app-loader *ngIf="isLoading"></app-loader>
<div class="row" [ngStyle]="isLoading ? {opacity: 0.5}: {opacity: 1}">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3">

            </div>

        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title text-center" *ngIf="newMode">TRANS TYPE FORM</h2>
      <p class="card-title-desc text-center" *ngIf="newMode">Enter Trans type data into the following form .</p>
                <form (ngSubmit)="onAddData(f)" #f="ngForm" >
                    <div class="row">
                        <div class="col-md-12">
                            <label for="name">Trans Type Name:</label>
                            <input type="text" [class.is-invalid] = "nameRef.invalid && nameRef.touched"  class="form-control" id="name" name="name"  #nameRef="ngModel" [(ngModel)]="user.name"  [readonly]="!newMode" required>
                            <div *ngIf="(nameRef.invalid && nameRef.touched) || nameRef.dirty">
                                <small class="text-danger" *ngIf="nameRef.errors?.required">Name is required</small>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-sm-5 col-md-6 col-lg-6"  *ngIf="!viewMode">
                            <button type="submit"
                             [disabled]="!f.valid"
                             class="btn btn-success"
                             style="margin-right: 10px;">{{ editMode ? 'Reset':'Add'}}</button>
                            <button type="button" class="btn btn-danger" (click)="onClear(f)" >Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
    </div>
        <div class="col-md-3">

        </div>
    </div>
    </div>
</div>
